@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --maroon-500: #751636;
  --maroon-900: #33101c;
}

body {
  font-family: "Inter", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
